* {
  // border: 1px solid red
}
header {
  height: 200px;
  nav {
    // background-color: green;
    display: flex;
    justify-content: space-between;
    .left-side-oriented {
      width: 50%;
      // border: 5px solid blue
    }
    .right-side-oriented {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 25px;
    }
  }
  #search-form {
    background-color: white;
    opacity: 1;
    z-index: 2;
    border: 1px solid grey;
    margin: 100px 0px 0px 100px;
    width: 500px;
    box-shadow: 3px 3px grey;
    input {
      display: block;
    }
  }
}
