doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title YourGetaway: Find your dream getaway
    link(rel="stylesheet", href="index.css")
  body
    header()
      nav
        .left-side-oriented
          a(href="index.html") Home
        .right-side-oriented
          a(href="host.html") Host
          a(href="signup.html") Sign Up
          a(href="login.html") Log In
          a(href="contact.html") Contact
      form#search-form
        h2 Register with us
        div.fields-and-buttons
          div.input-row
            div.input-container
              label#email-input-label.input-field-label(for="email") Enter your email
              input#email-input.input-field(name="email" type="text" placeholder="Enter email" minlength="4" )
          div.input-row
            div.input-container
              label#username-input-label.input-field-label(for="username") Choose a username
              input#username-input.input-field(name="username" type="text" placeholder="Enter username" minlength="4" maxlength="20")
          div.input-row
            div.input-container
              label#password-input-label.input-field-label(for="password") Choose a password
              input#password-input.input-field(name="password" type="password" placeholder="enter password" minlength="4" )
          div.input-row
            div.input-container
              label#repassword-input-label.input-field-label(for="repassword") Re-enter password
              input#repassword-input.input-field(name="repassword" type="password" placeholder="re-enter password" minlength="4")
          div.input-row
            div.input-container
              label#newsletter-input-label.input-field-label(for="newsletter") Receive Newsletter
              select#newsletter-input.input-field(name="newsletter" type="dropdown")
                option(value="Yes") Yes
                option(value="No") No Thanks

          div.input-row
            div.input-container
              button#submit-registration-btn Submit
    section#section-one
      br
      br
    section#section-two
      div Hello World
    footer
    script(src="signup.js")
